body {
    margin: 0;
    padding: 0;
    background-color: lightpink;
    color: balck;
    font-family: "Sans-serif";
    font-size: 18px;
}

nav {
    display: flex;
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
    width: 100vw;
    position: center;
    /*to prevent jumping after setting to fixed */
    z-index: 10;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

nav div {
    padding: 5px;
}

section {
    background-color: lightblue;
    padding: 30px;
    margin: 40px auto;
    width: 60vw;
    min-width: 100px;
    max-width: 2000px;
    border-radius: 40px;
}



img {
    width: 100%;
}


footer {
    background-color: lightblue;
    padding: 30px;
    width: 60vw;
    font-style: italic;
    margin: 30px auto;
    border-radius: 25px;
}
